[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
supabase = "2.6.0"
mangum = "*"
spotipy = "*"
jamdict = "*"
pykakasi = "*"
fugashi = "*"
unidic-lite = "*"
wheel = "*"
jamdict-data = "*"
puchikarui = "*"
boto3 = "*"
python-dotenv = "*"
python-multipart = "*"
geniusdotpy = "*"
romkan = "*"
lyricsgenius = {git = "git+https://github.com/johnwmillr/LyricsGenius.git"}

[dev-packages]

[requires]
python_version = "3.11"
