[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
supabase = "*"
mangum = "*"
lyricsgenius = "*"
spotipy = "*"
jamdict = "*"
pykakasi = "*"
fugashi = "*"
jamdict-data = "*"
unidic-lite = "*"
wheel = "*"

[dev-packages]

[requires]
python_version = "3.11"
